.products {
    &__price {
        color: #003f5c;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .item {
        display: flex;
        border: 1px solid #ccc;

        &__img {
            width: 100px;
        }
    }
}
