.register {
    height: 100vh;
    background-color: aliceblue;

    &__top {
        height: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #003f5c;
        z-index: 0;
    }

    & .row {
        height: 100vh;
        align-items: center;
    }

    &__form {
        background-color: #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .form-control {
        box-shadow: none;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .z1 {
        z-index: 1 !important;
    }
}
