.loader {
    z-index: 100 !important;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .spinner-border {
        width: 4rem;
        height: 4rem;
    }
}
